@keyframes animated-ellipsis-keyframes {
  0% {
    transform: translateX(-100%);
  }
}

.animated-ellipsis {
  overflow: hidden;
}

.animated-ellipsis::after {
  display: inline-block;
  content: "...";
  animation: animated-ellipsis-keyframes 1.2s steps(4, jump-none) infinite;
}
