.form__button {
  height: 50px;
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--color-background-default);
  color: var(--color-content-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  transition: all var(--trans-short) ease-out;
}

.form__button:hover,
.form__button:focus {
  cursor: pointer;
  background-color: rgba(0 0 0 / 0.8);
}
