.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 282px;
  max-width: 430px;
  width: calc(100% - var(--gutter-side) * 2);
  box-sizing: border-box;
  padding: 35px;
  color: var(--color-content-primary-inverted);
  background-color: var(--color-background-inverted);
  border-radius: var(--border-radius);
}

@media (max-width: 650px) {
  .popup__container {
    padding: 25px 22px;
  }
}
