.profile__add-btn {
  background: url(../../../images/plus.svg) center no-repeat;
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  border: 2px solid var(--color-content-primary);
  border-radius: 2px;
  padding: 0;
  grid-area: add;
}

.profile__add-btn:active {
  scale: 0.95;
}

@media (max-width: 767px) {
  .profile__add-btn {
    background-size: 16px 16px;
    width: 100%;
  }
} */
