@use '../../abstract/variables.module.scss' as *;
@use '../../abstract/mixins.scss' as *;

.error-popup {
  display: flex;
  flex-flow: column;
  gap: 12px;

  box-sizing: border-box;
  position: relative;
  padding: 25px;
  border-radius: $border-radius;
  word-break: break-word;
  background-color: var(--color-background-inverted);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

  @include width-md {
    gap: 8px;
  }

  @include width-sm {
    padding: 20px;
  }
}
