@use '../../../abstract/variables.scss' as *;
@use '../../../abstract/mixins.scss' as *;

.popup__container {
  position: relative;
  min-width: 282px;
  max-width: 430px;
  width: calc(100% - var(--gutter-side) * 2);
  box-sizing: border-box;
  padding: 35px;
  color: var(--color-content-primary-inverted);
  background-color: var(--color-background-inverted);
  border-radius: $border-radius;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

  @include width-sm {
    padding: 25px 22px;
  }
}
