@use '../../../abstract/mixins.scss' as *;

.error-popup__close {
  mask-image: url('../../../../../images/close-icon.svg');
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 0;
  padding: 0px;
  background-color: red;
}
