.form__input-error {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--color-error);
  margin: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out;

  position: absolute;
  left: 0;
  top: 32px;
}

.form__input-error_active {
  opacity: 1;
}
