@use '../../abstract/variables.scss' as *;

.card {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-background-inverted);
  color: var(--color-content-primary-inverted);
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
}
