.button_disabled {
  background-color: transparent;
  border: 1px solid var(--color-background-default);
  color: var(--color-content-primary-inverted);
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}
