@use '../../../abstract/mixins.scss' as *;

.profile__about {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: about;
  align-self: start;

  @include width-md {
    text-align: center;
  }
}
