@use '../../abstract/mixins.scss' as *;

.photo-grid {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  gap: 20px 17px;
  width: 100%;

  // when any element in grid is hoverd, then select all elements, not hoverd and black and white image
  &:has(> :hover) .photo-grid__item:not(:hover) .card__img {
    filter: grayscale(100%);
  }
}
