@use '../../../abstract/mixins.scss' as *;

.form__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 54px;

  @include width-sm {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 75px;
  }
}
