@use './functions.scss' as *;
$font-family: system-ui;
$border-radius: 10px;

$trans-short: 0.2s;
$trans-medium: 0.3s;

$form-field-mb: 30px;

:export {
  formFieldMarginBottom: strip-unit($form-field-mb);
}
