:root {
  --border-radius: 10px;
  --color-content-primary: #000;
  --color-content-inverted-primary: #fff;
  --color-accent-neutral: #000;
  --color-background-default: #fff;
  --color-background-glassy-a: rgba(0 0 0 / 0.2);
  --color-background-glassy-b: rgba(0 0 0 / 0.7);

  --trans-short: 0.2s;
}
