@use '../../abstract/mixins.scss' as *;
@use '../../abstract/variables.module.scss' as *;

.button {
  height: 50px;
  width: 100%;
  padding: 0;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--color-background-default);
  color: var(--color-content-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $trans-short ease-out;

  &.button:hover,
  &.button:focus {
    cursor: pointer;
    background-color: rgba(0 0 0 / 0.8);
  }

  @include width-sm {
    height: 46px;
    font-size: 14px;
  }
}
